<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="javascript/headerJsLoader.js"></script>
</head>

<body class="header-sticky">
<section class="loading-overlay">
    <div class="Loading-Page">
        <h2 class="loader">Loading...</h2>
    </div>
</section>
<div id="site-wrapper">

    <!-- header -->
    <div id="site-header"></div>
    <!--  /.header end -->

    <div id="site-content">

        <section class="flat-row pad-top0px pad-bottom0px">
            <div class="container">

                <div class="row">

                    <div class="col-md-12" style="margin-bottom: 10px">
                        <div class="page-title-heading" style="text-align: center; ">
                            <h1 class="title" >联系我们</h1>
                            <p class="subtitle">期待您的留言,我们将尽快给您回复！</p>
                        </div><!-- /.page-title-captions -->
                    </div><!-- /.col-md-12 -->

                    <div class="col-md-8 col-md-offset-2">
                        <div class="quick-appoinment" id="contactForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input style="font-style: normal;width: 99%" type="text" v-model="message.name" placeholder="姓名" required="required"><span style="color: red;float: right;width: 1%;line-height: 52px;">*</span>
                                    </div><!-- /.col-md-6 -->
                                    <div class="col-md-6">
                                        <input style="font-style: normal;width: 99%" type="text" v-model="message.email"  placeholder="Email" required="required"><span style="color: red;float: right;width: 1%;line-height: 52px;">*</span>
                                    </div><!-- /.col-md-6 -->
                                </div><!-- /.row -->

                                <div class="flat-divider d30px"></div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <input style="font-style: normal;width: 99%" type="text" v-model="message.phone" id="phone" name="phone" placeholder="联系电话" required="required"><span style="color: red;float: right;width: 1%;line-height: 52px;">*</span>
                                    </div><!-- /.col-md-6 -->
                                    <div class="col-md-6">
                                        <select style="width: 99%" v-model="message.topic">
                                            <template v-for="item in result.topic">
                                                <option v-bind:value="item.value">{{item.name}}</option>
                                            </template>
                                        </select><span style="color: red;float: right;width: 1%;line-height: 52px;">*</span>
                                    </div><!-- /.col-md-6 -->
                                </div><!-- /.row -->

                                <div class="flat-divider d30px"></div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <textarea :maxlength="result.msgLength" style="font-style: normal;width: 99%" v-model="message.msg" placeholder="留言" required="required"></textarea><span style="color: red;float: right;width: 1%;line-height: 52px;">*</span>
                                        <span style="float: right">您还可以输入：{{result.msgLength-message.msg.length}}</span>
                                    </div><!-- /.col-md-12 -->
                                </div><!-- /.row -->

                                <div class="flat-divider d26px"></div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <button name="submit" class="input-submit">发送留言</button>
                                    </div><!-- /.col-md-12 -->
                                </div><!-- /.row -->
                            </div>
                    </div><!-- /.col-md-8 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.flat-row -->

        <div class="flat-divider d50px"></div>
    </div><!--/.site-content -->

    <!-- footer -->
    <div class="site-footer">
        <a class="go-top">
        </a><!-- /. Go Top End-->
        <div id="footer"></div>
    </div>
    <!--  /.footer end -->

</div>  <!-- /.site-wrapper -->
<script src="javascript/footerJsLoader.js"></script>
</body>
</html>
