<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="javascript/headerJsLoader.js"></script>
</head>

<body class="header-sticky">
<section class="loading-overlay">
    <div class="Loading-Page">
        <h2 class="loader">Loading...</h2>
    </div>
</section>
<div id="site-wrapper">

    <!-- header -->
    <div id="site-header"></div>
    <!--  /.header end -->

    <!--main-->
    <div id="site-content">

        <div id="newsListDiv">
            <!-- Page title -->
            <div class="flat-row page-title  parallax" v-bind:style="result.backgroundImage" style="margin-bottom: 50px">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-title-heading" style="text-align: center">
                                <h1 class="title" style="color: #ffffff">企业新闻</h1>
                            </div><!-- /.page-title-captions -->
                            <div id="anchorPoint" class="breadcrumbs">
                                <p>你的位置:</p>
                                <ul>
                                    <li><a href="index.html">首页</a></li>
                                    <li class="active">企业新闻</li>
                                </ul>
                            </div><!-- /.breadcrumbs -->
                        </div><!-- /.col-md-12 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.page-title -->

            <!-- Blog lager -->
            <section class="blog sidebar-left">
                    <div class="container">
                        <div class="row">
                            <!--右侧列表-->
                            <div class="col-md-9">
                                <div class="post-wrap">
                                    <!--新闻列表-->
                                    <template v-for="item in newsLists.slice((currentPage-1)*pageSize,currentPage*pageSize)">
                                        <article class="entry">
                                            <div v-if="item.src!=''" class="feature-post popup">
                                                <a class="img-post" style="cursor:pointer;" @click="showDetails(item.id)">
                                                    <img v-bind:src="item.src" alt="image">
                                                </a>
                                            </div><!-- /.feature-post -->
                                            <div class="main-post">
                                                <h3 class="entry-title"><a @click="showDetails(item.id)"  style="cursor:pointer;">{{item.newsTitle}}</a></h3>
                                                <div class="entry-meta">
                                                    <span class="entry-categories">
                                                        <template v-for="classItem in item.newsClass">
                                                            <a>{{classItem}}</a>,
                                                        </template>
                                                </span>
                                                    <span class="entry-time">
                                                        <a>{{item.newsTime}}
                                                        </a></span>
                                                </div>
                                                <div class="entry-content">{{item.newsAbstract}}</div>
                                                <button @click="showDetails(item.id)" class="button white">Continue Read</button>
                                            </div><!-- /.main-post -->
                                        </article><!-- /.entry -->
                                    </template>
                                    <!-- 分页条 -->
                                    <el-pagination v-if="newsLists.length>0"
                                        background
                                        @size-change="sizeChange"
                                        @current-change="currentChange"
                                        :current-page="currentPage"
                                        :page-sizes="[5, 10, 20, 40]"
                                        :page-size="pageSize"
                                        layout="total, sizes, prev, pager, next, jumper"
                                        :total="newsLists.length">
                                    </el-pagination>
                                    <div v-else>暂无数据</div>
                                </div><!-- /.post-wrap -->
                            </div>
                            <!--左侧推荐-->
                            <div class="col-md-3">
                                <div class="sidebar">
                                    <div class="widget widget_category">
                                        <h3 class="widget-title">新闻分类</h3>
                                        <ul>
                                            <li>
                                                <a style="cursor:pointer;" @click="getNewsByClass('')">全部分类</a>
                                            </li>
                                            <template v-for="item in newsType">
                                                <li>
                                                    <a style="cursor:pointer;" @click="getNewsByClass(item.classId)">{{item.className}}</a>
                                                </li>
                                            </template>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </section>

        </div><!--/.end main -->

    </div>

    <!-- footer -->
    <div class="site-footer">
        <a class="go-top">
        </a><!-- /. Go Top End-->
        <div id="footer"></div>
    </div>
    <!--  /.footer end -->

</div>  <!-- /.site-wrapper -->
<script src="javascript/footerJsLoader.js"></script>
</body>
</html>
