<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="javascript/headerJsLoader.js"></script>
</head>

<body class="header-sticky">
<section class="loading-overlay">
    <div class="Loading-Page">
        <h2 class="loader">Loading...</h2>
    </div>
</section>
<div id="site-wrapper">

    <!-- header -->
    <div id="site-header"></div>
    <!--  /.header end -->

    <!-- main -->
    <div id="site-content">
        <div id="servicesDiv">
            <!-- Services -->
            <section class="services">
                <!-- Page title -->
                <div class="flat-row page-title  parallax parallax1" style="margin-bottom: 50px">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="page-title-heading" style="text-align: center">
                                    <h1 class="title" style="color: #ffffff">{{result.servicesTitle}}</h1>
                                    <p class="subtitle">{{result.servicesTitleDesc}}</p>
                                </div><!-- /.page-title-captions -->
                                <div class="breadcrumbs">
                                    <p>你的位置:</p>
                                    <ul>
                                        <li><a href="index.html">首页</a></li>
                                        <li class="active">服务</li>
                                    </ul>
                                </div><!-- /.breadcrumbs -->
                            </div><!-- /.col-md-12 -->
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div><!-- /.page-title -->
                <!-- container -->
                <div class="container" v-show="result.topIsShow">
                    <div class="row">
                        <div class="title-section">
                            <h2 class="title">{{result.topTitle}}</h2>
                            <p class="desc-title">{{result.topDesc}}</p>
                        </div>
                        <div class="three-columns">

                            <template v-for="item in result.servicesData">
                                <div class="images-single object">
                                    <div class="thumb">
                                        <a class="img-post" href="services-inspection.html">
                                            <img v-bind:src="item.src" alt="image">
                                        </a>
                                    </div><!-- /.thumb-->
                                    <div class="desc-img">
                                        <h4 class="title">{{item.serviceName}}</h4>
                                        <div class="content">{{item.reasonAndDesc}}</div>
                                    </div><!-- /.desc-img -->
                                </div><!-- /.images-single -->
                            </template>

                        </div> <!-- /.three-columns -->

                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section>

            <!-- Download -->
            <section class="section-download" v-show="result.middleIsShow">
                <div class="container">
                    <div class="row">

                        <template v-for="item in result.downloadData">
                            <div class="col-md-6">
                                <div class="flat-download">
                                    <div class="icon">
                                        <i class="fa fa-download"></i>
                                    </div>
                                    <div class="content">
                                        <div class="text-content">
                                            <h2>{{item.downloadBtnTitle}}</h2>
                                            <p>{{item.downloadBtnDesc}}</p>
                                        </div>
                                        <a v-bind:href="item.src" download="file" class="button">下载</a>
                                    </div>
                                </div><!-- /.flat-download -->
                            </div><!-- /.col-md-6 -->
                        </template>
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section>

            <!-- ServicesProvide -->
            <section class="section-iconbox" v-show="result.bottomIsShow">
                <div class="container">
                    <div class="row">
                        <div class="title-section">
                            <h2 class="title">{{result.bottomTitle}}</h2>
                            <p class="desc-title">{{result.bottomDesc}}</p>
                        </div>
                        <div class="two-columns">
                            <template v-for="item in result.allServicesData">
                                <div class="flat-iconbox object">
                                    <div class="icon">
                                        <i class="fa fa-thumbs-up"></i>
                                    </div>
                                    <div class="content">
                                        <h5>{{item.serviceName}}</h5>
                                        <p>{{item.serviceDesc}}</p>
                                    </div>
                                </div> <!-- /.flat-iconbox -->
                            </template>
                        </div> <!-- /.two-columns -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section>
        </div>

    </div>
    <!--/.main end-->

    <!-- footer -->
    <div class="site-footer">
        <a class="go-top">
        </a><!-- /. Go Top End-->
        <div id="footer"></div>
    </div>
    <!--  /.footer end -->

</div>  <!-- /.site-wrapper -->
    <script src="javascript/footerJsLoader.js"></script>
</body>
</html>
